{% extends 'boimelaApp/base.html' %}
{% load static %}

{% block content %}

<html>   
<style>

</style>
<body>

<h2 style="text-align:center">Navigation</h2>
<h3 style="text-align:center">Find your way around Boi Mela! </h3>

<div class="row">
  <div class="column">
    <img src="https://wallpaperplay.com/walls/full/f/e/1/162406.jpg" style="width:100%" onclick="openModal();currentSlide(1)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="https://wallpaperplay.com/walls/full/c/1/5/162428.jpg" style="width:100%" onclick="openModal();currentSlide(2)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="https://wallpaperplay.com/walls/full/3/f/3/162450.jpg" style="width:100%" onclick="openModal();currentSlide(3)" class="hover-shadow cursor">
  </div>
  <div class="column">
    <img src="images.jpg" style="width:100%" onclick="openModal();currentSlide(4)" class="hover-shadow cursor">
  </div>
</div>



    
</body>


</html>

{% endblock content %}