{% extends 'boimelaApp/base.html' %}
{% load static %}

{% block content %}

<h1>Search Page</h1>

<br/>
<form action="{% url 'boimelaApp-search' %}" method="GET" value="{{request.GET.q}}"/><input type="text" name="q" value="{{request.GET.q}}" placeholder="Search books"/>
<input type="submit" name="submit" value="Search"/>
</form>

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if results %}
<h1>Results for <b>{{ request.GET.q }}</b></h1>
<br/><br/>

{% for result in results %}

{{result.book_name}}
<br/>

{{result.author}}
<br/>

{{result.book_genre}}
<br/>

{{result.release_date}}
<br/>

{{result.isbn}}
<br/>

{{result.stalls.Stall}}
<br/>

{% endfor %}
{% else %}
No search results for this query
{% endif %}
{% endif %}


{% endblock content %}