{% extends 'boimelaApp/base.html' %}
{% load static %}

{% block content %}
<html>
<head>
<style>
.button {
  background-color: #0000FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<body>


</body>
</html>

<div class="content-section">
  <form method="post">
    {% csrf_token %}
    <div class="container">
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create or Update</legend>
      {{ form }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Done!</button>
    </div>
  </form>
</div>
{% endblock content %}
